In [1]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
%cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [7]:
dataset=pd.read_csv("PrePlacement.csv")

***Load the Dataset***

In [9]:
df = pd.read_csv("PrePlacement.csv")
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

**Check Missing Values (NaN)**, You will see how many NaN values are present.

In [10]:
df.isna().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

**Replace Salary NaN with 0**, Why?

✔ Salary is missing only for Not Placed students, so salary = 0 is correct.

In [11]:
df['salary'] = df['salary'].fillna(0)

**Replace Missing Numerical Values with Median**, Why Median?

✔ Median avoids outliers affecting scores.

In [12]:
for col in df.columns:
    if df[col].isna().sum() > 0 and col != 'salary':
        if df[col].dtype != 'object':
            df[col] = df[col].fillna(df[col].median())

**Replace Missing Categorical Values with Mode**, Why Mode?

✔ Mode fills missing category with the most common value.

In [14]:
for col in df.columns:
    if df[col].isna().sum() > 0 and col != 'salary':
        if df[col].dtype == 'object':
            df[col] = df[col].fillna(df[col].mode()[0])

**Confirm No Missing Values Left**, Dataset is now clean, 0 for all columns

In [15]:
df.isna().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

**Save Cleaned File**

In [16]:
df.to_csv("Placement_Data_Cleaned.csv", index=False)
print("Cleaned file saved successfully!")

Cleaned file saved successfully!

**Download Cleaned CSV**

In [17]:
from google.colab import files
files.download("Placement_Data_Cleaned.csv")

Salary NaN replaced with 0 because missing salary means student was not placed.

Numerical NaNs replaced with median because median is robust to outliers.

Categorical NaNs replaced with mode because mode preserves the most frequent category.